@font-face {
    src: url('../lib/fonts/CrimsonText-Regular.ttf');
    font-family: 'CrimsonText';
}

@font-face {
    src: url('../lib/fonts/CormorantSC-SemiBold.ttf');
    font-family: 'Cormorant';
}