@page "/"
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

<h1>DM Power Tools</h1>

<label  style="
        box-shadow: 0 2px 7px #4caf50;
        display: inline-flex;
        width: 150px;
        justify-content: space-around;
        border-radius: 2em;
        color: white;
        border:2px solid;
        cursor: pointer;
        align-items: center;
        padding:16px;
        background-color: #4caf50;"         
       for="fileInput2">
    Upload Creature <MudIcon Icon="@Icons.Filled.CloudUpload"/>
</label>

<InputFile id="fileInput2" OnChange="UploadFiles" hidden multiple />

@code
{
    @inject ApplicationDbContext DbContext;
    @inject IDialogService DialogService;
    @using DMPowerTools.Maui.Data;
    @using System.Text.Json;

    private async void UploadFiles(InputFileChangeEventArgs e)
    {
        var creatures = new List<Creature>();
        foreach (IBrowserFile f in e.GetMultipleFiles())
        {
            var creature = await JsonSerializer.DeserializeAsync<Creature>(f.OpenReadStream(512000, default), new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            });
            if (DbContext.Creatures.Where(c => c.Name == creature.Name).FirstOrDefault() != null)
            {
                await DialogService.ShowMessageBox("Duplicate", $"{creature.Name} already exists");
            }
            else
            {
                DbContext.Creatures.Add(creature);
                await DbContext.SaveChangesAsync();
            }
        }
    }
}